// Declare your variables here
$screen-sm-min							: 768px;
$screen-md-min							: 991px;
$screen-lg-min							: 1200px;

// Forms
// =========================================

$form-input-height						: 34px;
$form-input-padding						: 0 10px;
$form-input-border						: 1px solid #ddd;
$form-input-border-radius				: 3px;
$form-input-bottom-margin				: 10px;

// Typo
// =========================================
$base-font-family						: 'Avenir LT W01_35 Light1475496';
$medium-font-family						: 'Avenir LT W01_65 Medium1475532';
$alt-font-family						: 'Avenir LT W01_55 Roman1475520';

//## Set font path
$fa-font-path: "/assets/fonts";

// Declare your variables here

$bold-font													: 'Helvetica Neue LT W01_77 Bd Cn';
$roman-font													: 'Helvetica Neue LT W01_55 Roman';
$light-font													: 'Helvetica Neue LT W01_41488878';